<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.selfconference.android"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/application_name"
      android:name=".App"
      android:theme="@style/Theme.SelfConf"
      >
    <activity
        android:label="@string/launcher_name"
        android:name=".ui.MainActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:label="@string/app_name"
        android:name=".ui.session.SessionDetailActivity"
        android:parentActivityName=".ui.MainActivity"
        android:screenOrientation="portrait"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.MainActivity"
          />
    </activity>

    <meta-data
        android:name="com.crashlytics.ApiKey"
        android:value="fbff2890832b0c5f6b9c86553264ab3030dad587"
        />
  </application>

</manifest>
