<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
  <!-- Used for sharing logs and Spoon. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <!-- Used for instrumentation tests. -->
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:icon="@mipmap/dev_ic_launcher"
      tools:replace="icon">
    <activity
        android:name="org.selfconference.android.ui.ExternalIntentActivity"
        >
      <intent-filter>
        <action android:name="org.selfconference.android.intent.EXTERNAL_INTENT"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
